html{
font-family: 'Shizuru', cursive;
}

h1 {
	color: green;
	width: 500px;
	border: 1px solid black;
}

p, h2, ul {
	color:green;
}

#os_trailer:hover {
	color:red;
}

img[src]:hover {
	/* seitlicher Versatz - vertikaler Versatz - blur - Farbe */
	box-shadow: 5px 10px 8px green;
}
